<!DOCTYPE html>
<html lang="en">

<head>
      {{>head}}
</head>

<body>
      {{>navbar}}

      <!-- header section -->

      <div class="container-fluid">
            <div class="row">
                  <!-- right side -->
                  <div class="col-md-12 col-12 mx-auto">
                        <div class="col-md-12 col-12 left align-items-center">
                                    <img src="./images/404.png" alt="picture of me" class="img-fluid err"
                                    title="Ansuman mishra">

                              <p>Welcome to Ansuman Misra Weather Application</p>
                              <h1>{{errormsg}} 😢</h1>
                              <a href="/"><button>Go Back</button></a>
                        </div>
                  </div>
            </div>

      </div>
      <!-- footer creation -->

      {{>footer}}

</body>

</html>